{% extends "bootstrap/base.html" %}

{% block title %}
This is an example page
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{{ url_for('home') }}">Air Meetings</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for('spaces') }}">Listings</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('search') }}">Search</a></li>
                        {% if current_user.is_anonymous %}
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                        {% else %}
                            {% if current_user.guest %}
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('user', username=current_user.username) }}">Account</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for('spaces') }}">Listings</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('search') }}">Search</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
{% endblock %}



{% block content %}
  <h1>Hello, Bootstrap</h1>
  {% block app_content %}

  {% endblock %}
{% endblock %}