<html>
    <head>
        <title> Air Meetings </title>
    </head>

    <body>
    <div>
        <a href={{ url_for('home') }}>Air Meetings:</a>
        <a href={{ url_for('spaces') }} >Listings</a>
        <a href={{ url_for('search') }} >Search</a>
        {% if current_user.is_anonymous %}
            <a href={{ url_for('login') }}>Login</a>
        {% else %}
            {% if current_user.guest %}
                <a href={{ url_for('user', username=current_user.username) }}>Account</a>
                <a href={{ url_for('logout') }}>Logout</a>
            {% else %}
                <a href={{ url_for('spaces') }}>Listings</a>
                <a href={{ url_for('logout') }}>Logout</a>
            {% endif %}
        {% endif %}
    </div>
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    {% block content %}
    {% endblock %}

    </body>
</html>