{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles1.css')}}">
{% endblock %}

{% block content %}
    <header class="bg-white py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">Check out our spaces</h2>
                                <p class="lead fw-normal text-muted mb-5">The perfect meeting is waiting</p>
                            </div>
                        </div>
                    </div>
    </header>


                    <h1> Spaces </h1>


    <section class="py-5">


                        {% for space in spaces %}
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">


                                <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">space</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="{{ url_for('space', space=space.name) }}"><h5 class="card-title mb-3">{{ space.name}}</h5></a>
                                    <p class="card-text mb-0 href={{ url_for('space', space=space.description) }}">{{ space.description}}</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                            <div class="small">
                                                <div class="fw-bold href={{ url_for('space', space=space.hourlyRate) }}">Hourly Rate: ${{ space.hourlyRate}}</div>
                                                <div class="text-muted href={{ url_for('space', space=space.location) }}">Location: {{ space.location}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
</section>

{% endblock %}

