{% extends "base.html" %}

{% block content %}
    <h1>Search</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.zipcode.label }}<br>
            {{ form.zipcode(size=32) }}<br>
            {% for error in form.zipcode.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.date.label }}<br>
            {{ form.date(size=32) }}<br>
        </p>
        <p>
            {{ form.startTime.label }}
            {{ form.startTime }}
            {% for error in form.startTime.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.endTime.label }}
            {{ form.endTime }}
            {% for error in form.endTime.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.price.label }}
            {{ form.price }}
        </p>

        <p>
            {{ form.tech.label }}
            {{ form.tech }}
        </p>
        <p>
            {{ form.groupSize.label }}
            {{ form.groupSize }}
             {% for error in form.groupSize.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}