{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles2.css')}}">
{% endblock %}

{% block content %}
<body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light"><h1>Hello, {{ user.name }}!</h1></div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('upcoming', username=current_user.username) }}">Upcoming Meetings</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('previous', username=current_user.username) }}">Previous Meetings</a>

                </div>
            </div>
            <div id="upcoming_meetings">
    <h3>Upcoming Meetings:</h3>
    {% if meetings|length != 0 %}
        {% for i in range(meetings|length) %}
            {% set space = meetings[i]["space"] %}
            {% set location = meetings[i]["location"] %}
            {{"Meeting at " + location.name + " in " }}
            <a href="{{ url_for('space', space=space.name) }}">{{ space.name }}</a>
            {{ " on " + meetings[i]["date"].strftime("%m/%d/%y") + " from " +
            meetings[i]["start"].strftime('%H:%M') + " until " + meetings[i]["end"].strftime('%H:%M')}}
            <br>
        {% endfor %}
    {% else %}
        <p>No upcoming meetings</p>
    {% endif %}
    </div>


</div>





{% endblock %}
