{% extends "base.html" %}


{% block content %}
    <h1>Hello, {{ user.name }}!</h1>

    <div id="upcoming_meetings">
    <h3>Upcoming Meetings:</h3>
    {% if meetings|length != 0 %}
        {% for i in range(meetings|length) %}
            {% set space = meetings[i]["space"] %}
            {% set location = meetings[i]["location"] %}
            {{"Meeting at " + location.name + " in " }}
            <a href="{{ url_for('space', space=space.name) }}">{{ space.name }}</a>
            {{ " on " + meetings[i]["date"].strftime("%m/%d/%y") + " from " +
            meetings[i]["start"].strftime('%H:%M') + " until " + meetings[i]["end"].strftime('%H:%M')}}
            <br>
        {% endfor %}
    {% else %}
        <p>No upcoming meetings</p>
    {% endif %}
    </div>

    <div id="past_meetings">
    <h3>Previous Meetings:</h3>
    {% if history|length != 0 %}
        {% for i in range(history|length) %}
            {% set space = history[i]["space"] %}
            {% set location = history[i]["location"] %}
            {{"Meeting at " + location.name + " in " }}
            <a href="{{ url_for('space', space=space.name) }}">{{ space.name }}</a>
            {{ " on " + history[i]["date"].strftime("%m/%d/%y") + " from " +
            history[i]["start"].strftime('%H:%M') + " until " + history[i]["end"].strftime('%H:%M')}}
            {%  if history[i]["review"] != 1 %}
                <a href="{{ url_for('review', space=space.name, date=history[i]['date'], time=history[i]['start'])}}"> (Leave a review!)</a>
            {% endif %}
            <br>
        {% endfor %}
    {% else %}
        <p>No previous meetings</p>
    {% endif %}
    </div>

{% endblock %}